/* nav.top-nav-bar * {
  outline: 1px solid red;
} */

nav.top-nav-bar ul {
  display: flex;
  align-items: center;
  gap: 1rem;
  list-style: none;
  padding: 0;
  margin: 0;
}

nav.top-nav-bar * {
  display: flex;
  align-items: center;
  gap: 0.4rem;
}

img {
  max-width: 100%;
}

body {
  margin: 0 40% 0 20%;
  width: auto;
}

/* For phone screens */
@media (max-width: 1000px) {
  body {
    margin: 0 10px;
  }
}