/* Override Tufte's fonts */
@import url('https://fonts.googleapis.com/css2?family=STIX+Two+Text:ital,wght@0,400;0,600;1,400&display=swap');

body {
    /* width: 87.5%;
    margin-left: auto;
    margin-right: auto;
    padding-left: 12.5%; */
    /* font-family: et-book, Palatino, "Palatino Linotype", "Palatino LT STD", "Book Antiqua", Georgia, serif; */
    font-family: 'STIX Two Text', "Palatino Linotype", serif;
    font-variant-numeric: oldstyle-nums;
    /* background-color: #fffff8;
    color: #111;
    max-width: 1400px;
    counter-reset: sidenote-counter; */
}

.numeral {
    /* font-family: et-book-roman-old-style; */
    font-family: 'STIX Two Text';
}

.sidenote-number:after,
.sidenote:before {
    /* font-family: et-book-roman-old-style; */
    font-family: 'STIX Two Text';
    /* position: relative; */
    /* vertical-align: baseline; */
}

figure[role="math"] {
    font-size: 1.4em;
    margin-block: 1em;
    width: 55%; /* Like section > p */
    text-align: center;
}

section > .centered,
section > .picture
{
    width: 55%; /* Like section > p */
    margin: 0; /* No margin so that it doesn't float over to the right */
    text-align: center;
}

.small-text {
    font-size: 0.8em;
    line-height: 1.2em;      /* smaller number = tighter lines */
    display: inline-block;    /* allows multiple lines inside span to respect line-height */
}

.picture > p {
  margin-top: -100px;
  color: #666;
  font-size: 12pt;
  margin-top: -0rem;
  margin-bottom: 0rem;
}

/* Adds dark mode for picture captions */
@media (prefers-color-scheme: dark) {
    .picture > p {
        background-color: #151515;
        color: #aaa;
    }
}


.normal {
  font-variant-numeric: lining-nums;
}

/* For article links */
.thumbnail table {
  width: 100%;
  table-layout: fixed;
  border-spacing: 10px 5px;
}

.thumbnail table td:first-child {
  width: 12em;
  white-space: nowrap;
  vertical-align: top;
}

.thumbnail table td:nth-child(2) {
  /* fills remaining space */
  vertical-align: top;
}

.thumbnail table td .thumbnail-title {
  font-size: 1.6em;
}
.thumbnail table td .thumbnail-subtitle {
  font-size: 1.2em;
}
.thumbnail table td .thumbnail-date {
  font-size: 1.2em;
  color: #666;
}
@media (prefers-color-scheme: dark) {
    .thumbnail table td .thumbnail-date {
        color: #aaa;
    }
}
/* Small-screen adjustment */
@media (max-width: 760px) {
  .thumbnail table td:first-child {
    width: 6em;
    white-space: nowrap;
  }
  .thumbnail table td .thumbnail-title {
    font-size: 1.4em;
  }
}

.article-heading {
  width: 55%; /* Like section > p */
  margin: 1rem 0;
  text-align: center;
}

.article-heading .article-title {
  font-size: 2.0em;
  font-weight: bold;
}

.article-heading .article-subtitle {
  font-size: 1.4em;
}

.article-heading .article-date {
  display: inline-block;
  padding-top: 0.25em;
  font-size: 1.2em;
  color: #666;
}
@media (prefers-color-scheme: dark) {
    .thumbnail table td .thumbnail-date,
    .article-heading .article-date {
        color: #aaa;
    }
}

.introduction {
  width: 55%;
}
.introduction,
.introduction > p {
    font-style: oblique;
    font-size: 1.2rem;
    margin-top: 0.8rem;
    margin-bottom: 0.8em;
    line-height: 1.5rem;   
}


/* Small-screen adjustment */
@media (max-width: 760px) {
    figure[role="math"],
    section > .introduction,
    section > .centered,
    section > .picture,
    .article-heading {
        width: 100%; 
    }
}

/* Basic table formatting */
section > table {
  font-size: 1.2em;
  border-collapse: collapse;
}
section > table thead th {
  border-bottom: 3px solid #666; /* thick line under header */
  text-align: left;
  padding: 8px;
}
section > table tbody td {
  border-bottom: 1px solid #666;
  padding: 8px;
}
@media (prefers-color-scheme: dark) {
  section > table tbody td {
    border-bottom: 1px solid #aaa;
  }
  section > table thead th {
    border-bottom: 3px solid #aaa; /* thick line under header */
  }
}


/* Redefine header sizes */
h1 {
    font-weight: 800;
    margin-top: 4rem;
    margin-bottom: 1.5rem;
    font-size: 3.2rem;
    line-height: 1;
}

h2 {
    font-style: italic;
    font-weight: 800;
    margin-top: 2.1rem;
    margin-bottom: 1.4rem;
    font-size: 2.6rem;
    line-height: 1;
}

h3 {
    font-style: italic;
    font-weight: 800;
    margin-top: 2rem;
    margin-bottom: 1.4rem;
    font-size: 2.1rem;
    line-height: 1;
}

h4 {
    font-style: italic;
    font-weight: 800;
    margin-top: 2rem;
    margin-bottom: 1.4rem;
    font-size: 1.7rem;
    line-height: 1;
}

h5 {
    font-style: italic;
    font-weight: 800;
    margin-top: 2rem;
    margin-bottom: 1.4rem;
    font-size: 1.5rem;
    line-height: 1;
}

h6 {
    font-style: italic;
    font-weight: 800;
    margin-top: 2rem;
    margin-bottom: 1.4rem;
    font-size: 1.3rem;
    line-height: 1;
}

/* Horizon align the nav bar and make sure images stay inside */
nav {
  height: 3em;
  display: flex;
  align-items: center;
}

nav a {
  height: 100%;
  display: flex;
  align-items: center;
}

nav .nav-image {
  height: 100%;           /* match nav height */
  aspect-ratio: 1 / 1;    /* force square */
  max-height: 100%;
  max-width: 50px;
  display: inline-block;
  overflow: hidden;       /* crop excess if image is larger */
}

nav .nav-image img {
  height: 100%;
  width: 100%;            /* exactly same as container height */
  object-fit: cover;      /* fill circle without stretching */
  border-radius: 50%;
  display: block;
}

/* Force paragraphs not to have extra spacing inside lists */
li p,
li div,
li span {
  margin: 0;
  padding: 0;
}
/* Make lists less deep */
ul, ol {
  padding-left: 1.5em;
}